<div class="product-info-container">
    <div class="product-image">
        <img class="detail-img" src="/resources/images/parrillada.jpg" alt="Oferta Parrillada"></img>
    </div>
    <div class="product-info">
        <h4 class="Deals-Details-Name"> Este es el nombre de la oferta</h4>
        <p class="Deals-Details-Description">esta es la descripcion de la oferta</p>
        <h5 class="Deals-Details-Price">$1000</h5>
        <button class="button" type="button" value="COMPRAR" onclick="#"><span>Comprar</span></button> 
    </div>
</div>

<script src="/resources/js/DealsDetails.js"></script>