<div class="product-info-container">
    <div class="product-image">
        <img class="detail-img" src="/resources/images/parrillada.jpg" alt="Oferta Parrillada"></img>
    </div>
    <div class="product-info">
        <h4 class="Deals-Details-Name"></h4>
        <h5 class="Deals-Details-Price">$</h5>
        <p class="Deals-Details-Description"></p>
        <input type="button" value="COMPRAR" onclick="comprar()"></input>
    </div>
</div>

<script src="/resources/js/DealsDetails.js"></script>