#ErrorName{
    display:none;
}
#SuccessName{
    display:none;
}
#ErrorPass{
    display:none;
}
#SuccessPass{
    display:none;
}
#ErrorRePass{
    display:none;
}
#SuccessRePass{
    display:none;
}