div.containerD {
    width: 70%;
    min-height: 100vh;
    margin: 0;
    margin-left: 3%;
    display: inline-block;

}
div.container-tree{
    margin: 0;
    margin-right:2%;
    margin-top: 0%;
    padding: 0; 
    width: 25%;
    float: right; 
    min-height: 100vh;
    display: inline-block;
    position: relative;
}

body{
    margin: 0;
    background-color: #56c5ab;
}

header, footer {
    /* padding: 1em; */
    margin-top: 50px;
    background-color: rgba(9, 6, 56, 0.36);
}

h1{
    margin-top: 50px;
    color: rgb(1, 206, 255);
}

h2{
    font-size: 25px;
    margin-left: 0;
    color: #151815;
    display: inline-block;
}

footer{
    text-align: center;
   bottom:0;
   width:100%; 
   height:45px;
}

#header-tit{
    display: inline-block;
    margin-left: 100px;
    font-size: 50px;

}

#header-tit:hover{
    cursor: pointer;
}

* {
    margin:0px;
    padding:0px;
}


article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

.img{
    height: 140px;
}

/* Style buscador de la NavBar */
.formNav{
    display: inline-block;
}
.inputNav{
    display: inline-block;
}
button {
    border: none;
    background: #3a7999;
    color: #f2f2f2;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
    display: inline-block;
   }
   

 #BtnSearch{
    padding: 10px 35px;
    overflow:hidden;
   }

   #BtnSearch:before {
    font-family: FuentesLucas;
    content:'\e9d9';
    position: absolute;
    top: 11px;
    left: -30px;
    transition: all 200ms ease;
   }

   #BtnSearch:hover:before {
    left: 7px;
   }
